/*CUSTOM SHIT*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
/*--------------------------------------
    elements
--------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #F4F4F4;
}
span, p, input {
	font-family: 'Merriweather', serif;
	line-height: 26px;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
ul {
	padding: 0;
	margin: 0;
}
.media .media-left {
	float: left;
}
#video-background {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}
#first {
	position: relative;
	min-height: auto;
	text-align: center;
	color: #fff;
	width: 100%;
	background-image: url('../images/idk.jpg');
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.glass::before {
	background-image: url('../images/idk.jpg');
	background-attachment: fixed;
}
#first .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
	z-index: 2;
}
#first .header-content .inner h1 {
	margin-top: 0;
	margin-bottom: 0
}
#first .header-content .inner p {
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(255,255,255,0.7)
}
/* SOME HOODRAT BACKGROUND COLORING SHIT */
/* I DON'T EVEN KNOW IF THIS WILL WORK */
div:nth-child(even).wow {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: .3s;
}
div:nth-child(odd).wow {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	animation-delay: .3s;
}
.post {
	background: #fff;
	margin-bottom: 50px;
}
article {
	border: 1px solid #eee;
}
.post-thumb {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.post-thumb:hover .post-thumb-overlay {
	opacity: 1;
}
.post-thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.post-thumb-overlay div {
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 132px;
	border: 1px solid #fff;
	line-height: 40px;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	position: relative;
	top: 50%;
	letter-spacing: 1px;
	margin: 5px;
	margin-top: -18px;
	text-transform: uppercase;
}
.post-thumb img {
	width: 100%;
}
img {
	max-width: 100%;
}
.post-content {
	padding: 0 43px;
	overflow: hidden;
}
/* ===============
post css
 ===================*/
.main-content {
	margin-top: 50px;
}
article {
	border: 1px solid #eee;
}
.entry-header {
	margin: 40px 0 23px;
}
.entry-header h1 a, .entry-header h6 a {
	text-decoration: none;
	letter-spacing: 0.5px;
}
.entry-header h1 {
	margin-top: 0;
	font-size: 24px;
}
.entry-header h6 {
}
.entry-header h6 a {
	color: #00acdf;
	font-weight: 700;
	font-size: 10px;
}
.entry-header h1 a {
	font-weight: 600;
	color: #333333;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 24px;
	line-height: 34px;
}
.entry-header h1 a:hover {
	color: #00acdf;
}
.post-thumb img {
	width: 100%;
}
a.more-link {
	font-size: 12px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 10px 20px;
	text-decoration: none;
	margin: 24px 0 28px;
	display: inline-block;
	color: #00BFF3;
	border: 1px solid #eee;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
a.more-link:hover {
	background: #00BFF3;
	color: #fff;
	border-color: #00BFF3;
}
.post {
	background: #fff;
	margin-bottom: 50px;
}
.post-content {
	padding: 0 43px;
	overflow: hidden;
}
.post .social-share {
	border-top: 1px solid #EEE;
	padding: 15px 0 75px;
}
.social-share span a {
	color: #333;
}
.social-share-title {
	padding: 9px 0;
	font-style: italic;
	font-size: 13px;
}
.social-share span a:hover {
	color: #00BFF3;
	text-decoration: none;
}
.post-thumb {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.post-thumb:hover .post-thumb-overlay {
	opacity: 1;
}
.post-thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.post-thumb-overlay div {
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 132px;
	border: 1px solid #fff;
	line-height: 40px;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	position: relative;
	top: 50%;
	letter-spacing: 1px;
	margin: 5px;
	margin-top: -18px;
	text-transform: uppercase;
}
/*=======
post grid
=========*/
.post-grid .post-content {
	padding: 0 30px;
	overflow: hidden;
}
.post-grid .entry-header {
	margin: 31px 0 20px;
}
.post-grid .entry-header h1, .post-list .entry-header h1 {
	margin: 0;
	line-height: 24px;
}
.post-grid .entry-header h1 a, .post-list .entry-header h1 a {
	font-size: 18px;
	line-height: 24px;
}
.post-grid .social-share, .post-list .social-share {
	border: 0;
	padding: 0 0 40px;
}
.post-grid .social-share-title {
	padding: 10px 0 30px;
	font-style: italic;
	font-size: 13px;
}
/* ANIMATING SOME STUPID SHIT THAT WONT WORK */
.cursive {
	font-family: 'Dancing Script', cursive;
	text-transform: none;
}

/* RESPONSIVE SHIT */
@media(min-width:768px) {
/* I REALLY DON'T KNOW */
/* GRAMMAR MATTERS, MOTHERFUCKERS! */
#first {
	min-height: 100%;
}
#first .header-content {
	position: absolute;
	top: 50%;
	padding: 0 50px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
#first .header-content .inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px
}
#first .header-content .inner h1 {
	font-size: 53px
}
#first .header-content .inner p {
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	font-size: 18px
}
section {
	padding: 50px 0;
}
/* CHANGE SOME NAV SHIT */

/*BLUR SOME SHIT */
.glass::before {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.glass {
	position: relative;
}
.glass::before {
	z-index: 2;
	display: block;
	position: absolute;
	content: ' ';
}
.glass::before {
	background-position: center;
	/* Prefix free isn't picking up this one */
	-webkit-filter: url('#blur');
	filter: url('#blur');
	-webkit-filter: blur(7px);
	filter: blur(7px);
	background-size: cover;
	opacity: 0.78;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.glass {
	background-color: #666666;
}
}
section.bg-primary {
	background-color: #ffffff;
	color: #1B1B1B;
}
section.bg-secondary {
	background-color: #303030;
	color: #C2C2C2;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
/* STUPID ASS INSTAGRAM SHIT THAT WON'T WORK */
/* GRAMMAR MATTERS! */
#instafeed2 {
	padding: 25px 0;
	width: 100%;
	
}
div .nudes {
	position: relative;
	display: block;
	float: left;
	background-size: cover;
	background-attachment: scroll;
	width: 25%;
	height: 200px;
}
.instanowork {
}
div .nudes::after {
	content: "IF YOU DONT SEE PICTURES HERE THEN I FUCKED UP AND THIS SHIT DOESN'T WORK!";
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 25%;
	text-align: center;
	font-size: 24px;
	color: rgba(35,35,35,0.84);
}
/*SOME STUPID SHADOW MAGIC*/
.shadow {
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}
.instashadow {
	padding: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.sumyungguy{}
