/*CUSTOM SHIT*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
/* SAY CHEESE */
/*--------------------------------------
    elements
--------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #F4F4F4;
}
span, p, input {
	line-height: 26px;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
ul {
	padding: 0;
	margin: 0;
}
.media .media-left {
	float: left;
}
.glass::before {
	position: absolute;
	display: block;
	z-index: 2;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/landing2.jpg);
	width: 100%;
	height: 100%;
	content: ' ';
	-webkit-filter: url('#blur');
	filter: url('#blur');
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.glass {
	position: relative;
	z-index: 1;
	width: 100%;
	color: #fff;
	text-align: center;
}
.glass::after {
	position: absolute;
	display: block;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	content: ' ';
	background-color: rgba(0,0,0,0.30);
}
#first .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
	z-index: 4;
}
#first .header-content .inner h1 {
	margin-top: 0;
	margin-bottom: 0
}
#first .header-content .inner p {
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(255,255,255,0.7);
}

/* RESPONSIVE SHIT */
@media(min-width:768px) {
/* I REALLY DON'T KNOW */
/* GRAMMAR MATTERS, MOTHERFUCKERS! */
#first {
	min-height: 100%;
}
#first .header-content {
	position: absolute;
	top: 50%;
	padding: 0 50px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
#first .header-content .inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px
}
#first .header-content .inner h1 {
	font-size: 53px
}
#first .header-content .inner p {
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	font-size: 18px
}
}
section {
	padding: 50px 0;
}
/* STUPID NAV STYLES */
/*-------------------
header
---------------------*/
.main-menu.navbar-default {
	background-color: #fff;
	border-color: #e5e5e5;
	border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
	color: #777;
	line-height: 36px;
}
.main-menu .navbar-brand > img {
	display: block;
	margin-right: 45px;
	padding: 0 0;
}
.icon-right {
	float: right;
}
.menu-left {
	float: left;
}
.nav > li > a:first-child {
	padding-left: 0;
}
.main-menu.navbar-default .navbar-collapse, .navbar-default {
	border-color: #e7e7e7;
}
.i_con {
	float: right;
	position: relative;
	padding-right: 35px;
}
.i_con a i {
	font-size: 14px;
	padding: 15px 4px;
	color: #AAAAAA;
	line-height: 35px;
}
.top-search {
	position: absolute;
	right: -16px;
	top: 0;
	color: #AAAAAA;
}
.main-menu li {
	display: inline-block;
	position: relative;
}
.main-menu ul .sub-menu {
	text-align: left;
}
.main-menu .navbar-nav li a:hover, .main-menu .navbar-nav li a:active, .main-menu .navbar-nav > li a:focus {
	color: #00BFF3;
}
.navbar-default .navbar-nav > .active > a {
	color: #00BFF3;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #00BFF3;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00BFF3;
	background-color: transparent;
}
.i_con a i:hover {
	color: #00BFF3;
}
.main-menu ul .sub-menu, .main-menu ul .children {
	background-color: #fff;
	display: none;
	padding: 0;
	position: absolute;
	margin-top: 0;
	left: -12px;
	z-index: 99999;
	box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
	border: 1px solid #e2e2e2;
}
.main-menu ul .sub-menu ul, .main-menu ul .children ul {
	left: 100%;
	top: 0;
}
.main-menu ul ul a, .main-menu ul ul ul li a {
	color: #666666;
	margin: 0;
	text-decoration: none;
	padding: 11px 18px;
	min-width: 220px;
	line-height: 19px;
	-webkit-transition: .25s;
	transition: .25s;
	font-size: 12px;
	border-bottom: 1px solid #eee !important;
	letter-spacing: 1px;
}
.main-menu ul ul a .fa {
	float: right;
	line-height: 19px;
}
.main-menu ul ul a:last-child, .main-menu ul ul ul li a:last-child {
	border: 0;
}
.main-menu ul ul a:hover, .main-menu ul ul ul li a:hover {
	background: #00BFF3;
	color: #fff !important;
}
.main-menu ul li:hover > ul, .main-menu ul ul li:hover > ul {
	display: block;
}
.main-menu ul .sub-menu li {
	margin: 0;
}
.show-search #searchform input#s {
	width: 200px;
	padding: 10px 13px;
	border-radius: 0;
	background: #FFF;
	box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
	border: 1px solid #eee;
}
.social-share ul li {
	list-style: none;
	display: inline-block;
}
.show-search {
	position: absolute;
	z-index: 10000;
	top: 100%;
	right: 7.5%;
	display: none;
}
.social-share ul li a i {
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
	border-radius: 50%;
	margin: 3px;
	border: 1px solid #e5e5e5;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	color: #C2C2C2;
}
.widget .social-share ul li a i {
	height: 33px;
	width: 33px;
	line-height: 33px;
	font-size: 15px;
	border-radius: 50%;
	margin: 3px;
	border: 1px solid #e5e5e5;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	color: #C2C2C2;
}
.social-share ul li a i:hover {
	background: #00BFF3;
	color: #FFF;
	border-color: #00BFF3;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 15px 30px;
	font-size: 12px;
	letter-spacing: 1px;
}
/* SOME HOODRAT BACKGROUND COLORING SHIT */
/* I DON'T EVEN KNOW IF THIS WILL WORK */
div:nth-child(even).wow {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: .3s;
}
div:nth-child(odd).wow {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	animation-delay: .3s;
}
.post {
	background: #fff;
	margin-bottom: 50px;
}
article {
	border: 1px solid #eee;
}
.post-thumb {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.post-thumb:hover .post-thumb-overlay {
	opacity: 1;
}
.post-thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.post-thumb-overlay div {
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 132px;
	border: 1px solid #fff;
	line-height: 40px;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	position: relative;
	top: 50%;
	letter-spacing: 1px;
	margin: 5px;
	margin-top: -18px;
	text-transform: uppercase;
}
.post-thumb img {
	width: 100%;
}
img {
	max-width: 100%;
}
.post-content {
	padding: 0 43px;
	overflow: hidden;
}
/* ===============
post css
 ===================*/
.main-content {
	margin-top: 50px;
}
article {
	border: 1px solid #eee;
}
.entry-header {
	margin: 40px 0 23px;
}
.entry-header h1 a, .entry-header h6 a {
	text-decoration: none;
	letter-spacing: 0.5px;
}
.entry-header h1 {
	margin-top: 0;
	font-size: 24px;
}
.entry-header h6 {
}
.entry-header h6 a {
	color: #00acdf;
	font-weight: 700;
	font-size: 10px;
}
.entry-header h1 a {
	font-weight: 600;
	color: #333333;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 24px;
	line-height: 34px;
}
.entry-header h1 a:hover {
	color: #00acdf;
}
.post-thumb img {
	width: 100%;
}
a.more-link {
	font-size: 12px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 10px 20px;
	text-decoration: none;
	margin: 24px 0 28px;
	display: inline-block;
	color: #00BFF3;
	border: 1px solid #eee;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
a.more-link:hover {
	background: #00BFF3;
	color: #fff;
	border-color: #00BFF3;
}
.post {
	background: #fff;
	margin-bottom: 50px;
}
.post-content {
	padding: 0 43px;
	overflow: hidden;
}
.post .social-share {
	border-top: 1px solid #EEE;
	padding: 15px 0 75px;
}
.social-share span a {
	color: #333;
}
.social-share-title {
	padding: 9px 0;
	font-style: italic;
	font-size: 13px;
}
.social-share span a:hover {
	color: #00BFF3;
	text-decoration: none;
}
.post-thumb {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.post-thumb:hover .post-thumb-overlay {
	opacity: 1;
}
.post-thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.post-thumb-overlay div {
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 132px;
	border: 1px solid #fff;
	line-height: 40px;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	position: relative;
	top: 50%;
	letter-spacing: 1px;
	margin: 5px;
	margin-top: -18px;
	text-transform: uppercase;
}
/*=======
post grid
=========*/
.post-grid .post-content {
	padding: 0 30px;
	overflow: hidden;
}
.post-grid .entry-header {
	margin: 31px 0 20px;
}
.post-grid .entry-header h1, .post-list .entry-header h1 {
	margin: 0;
	line-height: 24px;
}
.post-grid .entry-header h1 a, .post-list .entry-header h1 a {
	font-size: 18px;
	line-height: 24px;
}
.post-grid .social-share, .post-list .social-share {
	border: 0;
	padding: 0 0 40px;
}
.post-grid .social-share-title {
	padding: 10px 0 30px;
	font-style: italic;
	font-size: 13px;
}
/* ANIMATING SOME STUPID SHIT THAT WONT WORK */
.cursive {
	font-family: 'Dancing Script', cursive;
	text-transform: none;
}
.bg-primary {
	background-color: #ffffff;
	color: #1B1B1B;
}
.bg-secondary {
	background-color: #303030;
	color: #EDEDED;
}
/* STUPID ASS INSTAGRAM SHIT THAT WON'T WORK */
/* GRAMMAR MATTERS! */
section.instagram {
	padding: 0 0 0 0;
}
.footer-instagram-title {
	padding: 35px 0 17px;
	color: #333333;
	font-size: 18px;
	letter-spacing: 0.5px;
}
div .nudes::after {
	content: "IF YOU DONT SEE PICTURES HERE THEN I FUCKED UP AND THIS SHIT DOESN'T WORK!";
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	min-height: 25%;
	text-align: center;
	font-size: 24px;
	color: rgba(35,35,35,0.84);
}
/*SOME STUPID SHADOW MAGIC*/
.shadow {
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}
#first a.scroll {
	position: absolute;
	z-index: 4;
	bottom: 30px;
	text-align: center;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
	font-size: 24px;
}
#first a.scroll:hover {
	opacity: .5;
}
i.scroll {
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
}
 @-webkit-keyframes sdb04 {
 0% {
 -webkit-transform: translate(0, 0);
}
 20% {
 -webkit-transform: translate(0, 10px);
}
 40% {
 -webkit-transform: translate(0, 0);
}
}
@keyframes sdb04 {
 0% {
 transform: translate(0, 0);
}
 20% {
 transform: translate(0, 10px);
}
 40% {
 transform: translate(0, 0);
}
}
footer {
	background-color: #222222;
	color: #DBDBDB;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
footer p {
	margin: 0;
	padding: 10px 0;
}

/* PAGE TOGGLE BULL SHIT */

.post-header::before {
	position: absolute;
	display: block;
	z-index: 2;
	background-size: contain;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	content: ' ';
	-webkit-filter: url('#blur');
	filter: url('#blur');
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.post-header {
	position: relative;
	z-index: 1;
	width: 100%;
	color: #fff;
	text-align: center;
}
.post-header::after {
	position: absolute;
	display: block;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	content: ' ';
	background-color: rgba(0,0,0,0.30);
}

#first #post-head {
	min-height: 30%;
}
