---
layout: default
---
<div class="main-content">
<div class="container">
<div class="row">
<div class="col-md-8">
<article class="post">
  <div class="post-thumb"> <a href=""><img src="{{ post.thumbnail }}" alt=""></a> </div>
  <div class="post-content">
    <header class="entry-header text-center text-uppercase">
      <h6><a href="{{ page.category.url }}">{{ page.category }}</a></h6>
      <h1 class="entry-title"><a href="#">{{ page.title }}</a></h1>
    </header>
    <div class="entry-content">
      {{ content }}
    </div>
    <div class="decoration"> {% if page.previous.url %}<a href="{{ page.previous.url }}" class="btn btn-default">&laquo; {{ page.previous.title }}</a>{% endif %} {% if page.next.url %}<a href="{{ page.next.url }}" class="btn btn-default">{{ page.next.title }} &raquo;</a>{% endif %} </div>
    <div class="social-share"> <span class="social-share-title pull-left text-capitalize">By {{ page.author }} On {{ page.date | date: "%B %d, %Y" }}</span>
      <ul class="text-center pull-right">
        <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
        <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
        <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
	</article>
	</div>
	</div>
	</div>
	</div>